* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 3rem auto;
}

/* Home */
.head-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

nav {
    align-self: center;
}

.nav-links {
    list-style: none;
    display: flex;
    column-gap: 1rem;
}


a {
    text-decoration: none;
}

main {
    margin-top: 2rem;
}

.blog {
    display: flex;
    column-gap: 2rem;
    margin: 2rem 0;
}

.blog-content {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.side {
    background-color: rgb(131, 23, 23);
    height: 90px;
    width: 10px;
}

footer {
    margin: 4rem 0;
    text-align: center;
}